h1{
    text-align: center;
    font-size: 32px;
    color: #666;
    text-decoration:underline;
}
p{
    font-size: 14px;
    text-indent: 2em; 
    line-height: 180%;
}
abbr{
    font-size: 28px;
    font-weight: bold;
    color: blue;
}   
em{
   font-style: italic;
   background-color: #ddd;     
}